<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Pengajuan Cuti</title>
      <script>
         async function logout() {
            const response = await fetch("http://localhost:5001//logout", {
               method: "POST",
            });
            if (response.ok) {
               document.cookie =
                  "token=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;"; // Hapus token
               window.location.href = "http://localhost:5003/"; // Redirect ke login
            } else {
               alert("Failed to logout.");
            }
         }
      </script>
   </head>
   <body>
    <button onclick="logout()">Logout</button>
      <h1>Pengajuan Cuti</h1>
      <form action="/apply" method="POST">
         <label for="nama">nama:</label>
         <input type="text" id="nama" name="nama" required /><br /><br />

         <label for="alasan">Alasan:</label>
         <textarea id="alasan" name="alasan" required></textarea><br /><br />

         <button type="submit">Kirim Pengajuan</button>
      </form>
   </body>
</html>
